section{
    height: 828px;
    background-color: #fcfcf4;
    float: left;
}

.sectionTipoEstadia{
    height: 100%;
    width: 100%;

}

.tituloPagina{
    height: 80px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tituloPagina h1{
    font-size: 33px;
    color: #0e2568;
    font-family: Ebrima;
    font-weight: lighter;
}

.divTabela{
    height: 500px;
    width: 800px;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

.divTabela table{
    width: 100%;
    text-align: center;

}

.divTabela table th{
    font-family: RalewayRegular;
    font-size: 20px;
}

.divTabela table td{
    font-family: Calibri Light;
    font-size: 18px;
}

.formNivel{
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}

.formNivel table{
    height: 100%;
    width: 100%;
}

.formNivel table input[type='text']{
    height: 25px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formNivel table input[type='submit']{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    font-family: Calibri Light;
    font-size: 18px;
    background-color: #0e2568;
    border: 1px solid #ccc;
    color: #fff;
}
