section{
    height: 828px;
    max-height: 1000px;
    background-color: #fcfcf4;
}

.conteudo{
    height: 100%;
    width: 85%;
    float: left;
}

.tituloPagina{
    height: 80px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tituloPagina:not(:first-of-type)
{
    width: 450px;
}



.tituloPagina h1{
    font-size: 33px;
    color: #0e2568;
    font-family: RalewayRegular;
    font-weight: lighter;
}

.divTabela{
    max-height: 500px;
    width: 800px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}

.divTabela table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTabela table th{
    font-family: RalewayRegular;
    font-size: 20px;
}

.divTabela table th:first-of-type
{
    border-right: solid 1px #ccc;
}

.divTabela table td{
    font-family: Calibri Light;
    font-size: 18px;
}

.divTabela table td:first-of-type
{
    border-right: solid 1px #ccc;
}

.divTabela #thOpcoes
{
    width: 15%;
    max-width: 15%;
}

.divTabelaCidade{
    max-height: 300px;
    width: 800px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}

.divTabelaCidade table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTabelaCidade table th{
    font-family: RalewayRegular;
    font-size: 20px;
}

.divTabelaCidade table th:first-of-type, .divTabelaCidade table th:nth-of-type(2)
{
    border-right: solid 1px #ccc;
}

.divTabelaCidade table td{
    font-family: Calibri Light;
    font-size: 18px;
}

.divTabelaCidade table td:first-of-type,.divTabelaCidade table td:nth-of-type(2)
{
    border-right: solid 1px #ccc;
}

.divTabelaCidade #thOpcoes
{
    width: 15%;
    max-width: 15%;
}

.formLocal{
    width: 800px;
    border-top: solid 1px #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.formLocal table{
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.formLocal table input[type='text']{
    height: 25px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formLocal table input[type='submit']{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    font-family: Calibri Light;
    font-size: 18px;
    background-color: #0e2568;
    border: 1px solid #ccc;
    color: #fff;
}



.formLocalCidade{
    width: 800px;
    border-top: solid 1px #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.formLocalCidade table{
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.formLocalCidade table input[type='text']{
    height: 25px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: not-allowed;
}

.formLocalCidade table input[type='submit']{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    font-family: Calibri Light;
    font-size: 18px;
    background-color: #0e2568;
    border: 1px solid #ccc;
    color: #fff;
}

.formLocalCidade table select{
    height: 25px;
    width: 190px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
